<div id="milestone_edit_form">
<%= form_with(model: @milestone, local: false) do |form| %>
  <% if @milestone.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@milestone.errors.count, "error") %> prohibited this milestone from being saved:</h2>

      <ul>
        <% @milestone.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="w-50 alert alert-success" role="alert">
    <%= form.label "Milestone", style: "display: block" %>
    <%= form.text_field :descriptive_name, class: "bg-success-subtle", :maxlength => "80" %>
    &nbsp &nbsp

    <%= form.label "Start : " %>
    <%= form.date_field :estimated_start_date %>

    <%= form.label "Due : " %>
    <%= form.date_field :estimated_completion_date %>

    &nbsp &nbsp
    <%= form.submit "Update", class: "update_btn btn btn-danger btn-sm", method: :update, remote: true %>
    &nbsp
    <%= form.submit "Cancel", class: "cancel_btn btn btn-outline-success btn-sm", method: :update, remote: true %>

  </div>
<% end %>

</div>
