<div id="<%= dom_id milestone %>">


  <p>
    <strong>Descriptive name:</strong>
    <%= milestone.descriptive_name %>
    <%= milestone.row_order %>
    <%= milestone.id %>
  </p>

 

</div>
<ul data-controller="sortable">
  <% milestone.user_stories.rank(:row_order).each do |user_story| %>
        <li data-sortable-update-url="<%= sort_user_story_path(user_story) %>">
      <%= render user_story %>
    </li>

  <% end %>
</ul>
