<div id="<%= dom_id milestone %>">


  <p>
    <div class="w-50 alert alert-success" role="alert">
        <%= milestone.descriptive_name %>
    </div>

  </p>

 

</div>
<ul data-controller="sortable" data-sortable-group-value="user_stories" data-sortable-milestone-id="<%= milestone.id %>">
  <% milestone.user_stories.rank(:row_order).each do |user_story| %>
        <li data-sortable-update-url="<%= sort_user_story_path(user_story) %>">
      <%= render user_story %>
    </li>

  <% end %>
</ul>
