<div id="<%= dom_id milestone %>">

  <p>
    <div class="w-50 alert alert-success" role="alert">
 
          <div class="row">
          
            <div class="col-10" id="description">
                <%= milestone.descriptive_name %>            
            </div>

            <div class="col-2">

                <%= link_to edit_milestone_path(milestone), 
                    class: "btn btn-link btn-sm text-muted",
                    remote: true do %>

                  <i class="fa-solid fa-pencil fa-lg"></i>

                <% end %>
                
                <i class="fa-solid fa-plus fa-lg"></i>

                <i class="fa-regular fa-calendar-days fa-lg"></i>

            </div>

          </div>

    </div>

  </p>

 

</div>
<ul data-controller="sortable" data-sortable-group-value="user_stories" data-sortable-milestone-id="<%= milestone.id %>">
  <% milestone.user_stories.rank(:row_order).each do |user_story| %>
        <li data-sortable-update-url="<%= sort_user_story_path(user_story) %>">
      <%= render user_story %>
    </li>

  <% end %>
</ul>
